test/typings/
build/
typings/
coverage/
npm-debug.log
!web/viz/generate.js
web/viz/**/*.txt
web/viz/**/*.svg
web/viz/index.html
web/script/bundle.js
web/script/codemirror.js
web/style/seti.css
web/script/abap.js