npm-debug.log
*.js.map
coverage/
docs/*
web/*
src/*
build/test/*
build/scripts/*
test/*
travis.sh
zcl_foo.clas.abap
scripts/*
.travis.yml
tsconfig.json
tslint.json
.github/
.vscode/
build/*.tsbuildinfo
dump.json
foo.prog.abap
zcl_foo.clas.abap
worklist.txt
.clinic/