npm-debug.log
*.js.map
coverage/
docs/*
web/*
build/test/*
test/*
zcl_foo.clas.abap
version.sh
travis.sh
.travis.yml
tsconfig.json
tslint.json
.vscode/
build/*.tsbuildinfo
dump.json
foo.prog.abap
zcl_foo.clas.abap
worklist.txt
.clinic/