body {
  font-family: Arial,Helvetica,sans-serif;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

/* used for highlighting issues via mouseover */
.styled-background {
    background-color: #00F;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	width: 50%;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}