name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1    
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm install
    - name: npm test
      run: npm test
    - name: npm run schema
      run: npm run schema  
    - name: foobar
      run: pwd
    - name: foobar
      run: cd /home/runner/work/
    - name: foobar
      run: pwd
    - name: foobar
      run: ls    
