name: playground.abaplint.org

on: [push, pull_request]

jobs:
  playground:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: npm install
      run: npm install
    - name: npm test
      run: npm test
    - name: npm run web.playground
      run: npm run web.playground
    - name: deploy playground.abaplint.org
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main' && github.repository == 'abaplint/abaplint'
      with:
        deploy_key: ${{ secrets.PLAYGROUND_DEPLOY_KEY }}
        external_repository: abaplint/playground.abaplint.org
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        publish_branch: main
        cname: playground.abaplint.org
        force_orphan: true
        publish_dir: ./web/playground/build
