name: playground.abaplint.org

on: [push, pull_request]

jobs:
  playground:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - run: npm run install
    - run: npm test
    - run: npm run web.playground
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: deploy playground.abaplint.org
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main' && github.repository == 'abaplint/abaplint'
      with:
        deploy_key: ${{ secrets.PLAYGROUND_DEPLOY_KEY }}
        external_repository: abaplint/playground.abaplint.org
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        publish_branch: main
        cname: playground.abaplint.org
        force_orphan: true
        publish_dir: ./web/playground/build
